@page "/"



<div class="img-with-text">
    <img src="Images/Headshot.png" class="circular-photo"/>
    <br /><br /><br />
    <p>Some text Som eSome text Some text Some text Some text Some text Some text</p>
</div>


