@page "/"



<div class="img-with-text" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
    <img src="Images/Headshot.png" class="circular-photo"/>
    <br /><br /><br />
    <a href="https://github.com/marquardt1195" class="icon-hyperlink">
        <i class="fa-solid fa-envelope" style="font-size: larger;"></i>
        Email
    </a>
    <br />
    <a href="https://github.com/marquardt1195" class="icon-hyperlink">
        <i class="fa-brands fa-github" style="font-size: larger;"></i>
        Github
    </a>
    <br />
    <a href="https://www.linkedin.com/in/josh-marquardt-a7332b75/" class="icon-hyperlink">
    <i class="fa-brands fa-linkedin" style="color: #0A66C2; font-size: larger;"></i>
        LinkedIn
    </a>
    <br />
    <a href="https://scholar.google.com/scholar?hl=en&as_sdt=0%2C44&q=Joshua+Marquardt&btnG=" class="icon-hyperlink">
        <i class="fa-brands fa-google-scholar" style="color: #0A66C2; font-size: larger;"></i>
        Google Scholar
    </a>
    <p>Some text Som eSome text Some text Some text Some text Some text Some text</p>
</div>


